* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #020617;
    height: 100vh;

    font-size: 16px;
    color: #cbd5e1;
    gap: 16px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 8px;
    border: 1px solid #cbd5e1;
    box-shadow: 0px 0px 15px #9ca3af;
    padding: 8px;
    background-color: #1e293b;
}

.board button {
    background-color: #334155;
    border: 2px solid #cbd5e1;
    box-shadow: 0px 0px 3px #f1f5f9;
    text-align: center;
    font-size: 48px;
    color: #cbd5e1;
}

.restart {
    padding: 8px 32px;
    font-size: 24px;
    background-color: #1e293b;
    border: 2px solid #cbd5e1;
    box-shadow: 0px 0px 3px #f1f5f9;
    color: #ffffff;
}

form {
    background-color: #1e293b;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 8px;
    box-shadow: 0px 0px 5px #f1f5f9
}

.form-row {
    display: flex;
    flex-direction: column;
    padding: 4px;
    justify-content: center;
    align-items: center;
}

.form-row input {
    padding: 8px;
    font-size: 16px;
}

.form-row label {
    font-size: 32px;
    padding: 4px;
}

.form-row button {
    padding: 4px 32px;
    font-size: 18px;
    background-color: #334155;
    border: 2px solid #cbd5e1;
    color: #ffffff;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0; 
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
